<html>
  <title>TeamPt</title>
  <head>
    <style type="text/css">
      body { width: 90%; padding-left: 5%; font-family: helvetica; color: #353535; background-color:#000;}
      .container table { font-size:70%; border-collapse:collapse; background-color:#E7E7DE; font-weight:100;}
      .container table th { background-color:#008891; color:#E7E7DE; text-decoration: none; font-weight:300;}
      .container table td, .container table th { border:2px solid #008891; padding:2px 5px 2px 5px;}
      .container table td {text-align:left; color:black; }
      .container a {text-decoration:none; color:#00587A; font-weight:400;}
    </style>
  </head>
  <body>
    <div class="container">  
      <%= puts "hello" %>
    </div>
 </body>
   
</html>
